<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!--BEGIN SERVICES COOTREGUA________________________________________________________________________________________________________________________________-->
		<add key="TokenCootregua" value="f/tSCRoLeGNT+LsYmSJifkow6u6CuAJHObr8AyOHaeiNdHh/gnHPUo41Gt+yPTc/"/>
		<add key="KeyCootregua" value="Cootregua"/>
		<!--PRODUCCION-->
		<!--<add key="AuthenticationUser" value="KIOSCO"/>
    <add key="AuthenticationPass" value="Kd*875421"/>-->
		<!--PRODUCCION-->
		<!--DESARROLLO-->
		<add key="AuthenticationUser" value="1120577056"/>
		<add key="AuthenticationPass" value="123456"/>
		<!--DESARROLLO-->
		<!--<add key="basseAddressCootregua" value="http://181.143.126.126:44100/"/>-->
		<!--Produccion-->
		<add key="basseAddressCootregua" value="https://apicootregua.e-city.co/" />
		<add key="ValidateUsers" value="/Login/ValidateUsers" />
		<!--Desarrollo-->
		<add key="ControllerCootreguaValidateUsers" value="Login/ValidateUsers"/>
		<add key="ControllerCootreguaGetPerson" value="PersonControl/GetPerson"/>
		<add key="ControllerCootreguaValidateBiometria" value="Login/ValidateBiometria"/>
		<add key="ControllerCootreguaGetStateProduct" value="Products/GetStateProduct?"/>
		<add key="ControllerCootreguaProductsPayments" value="Products/GetStateProduct"/>
		<add key="ControllerCootreguaRetirePayments" value="PersonControl/RetirePayments"/>
		<!--END SERVICES COOTREGUA__________________________________________________________________________________________________________________________________-->

		<!--BEGIN SERVICES________________________________________________________________________________________________________________________________-->
		<add key="basseAddress" value="HZ7tRXkULjkMMdcEIV0FIT7JNtV2V56d9KZVcUqeot8="/>
		
		<!--BEGIN OTHERS________________________________________________________________________________________________________________________________-->
		<add key="DurationAlert" value="100000"/>
		<add key="MaxAmountAhorroVista" value="10000000"/>
		<add key="MaxAmountAhorroVistaWithdrawal" value="2000000"/>
		<add key="NAME_PAYPAD" value="Pay+ Cootregua"/>
		<add key="LAST_NAME_PAYPAD" value="Esqueleto"/>
		<add key="NAME_APLICATION" value="WPFCootregua.exe"/>
		<add key="ImageBoucher" value="Images/Others/img-boucher.png"/>
		<add key="ValuesDispenser" value="DP:50000-DP:10000-DP:2000"/>
		
		<!--PUBLISH-->
		<add key="publishDir" value="C:\Users\Ana Prieto\Desktop\PROYECTOS 2025\WPFCootreguaV2\WPFCootreguaV2\bin\Debug\net6.0-windows\Images\Publish\" />
		<!-- VALIDATION -->
		<add key="validateInboxDate" value="true" />
		<add key="validateLocalTs" value="true" />
		<!-- PERIPHERALS-->
		<add key="scannerPort" value="COM11" />
		<add key="arduinoPort" value="COM9" />
		<add key="dispenserPort" value="COM10" />
		<add key="meiPort" value="COM1" />
		<add key="LocalHost" value="https://localhost:44303/" />
		
		<!-- <add key="acceptorDevice" value="JCM" /> -->
		<add key="acceptorDevice" value="MEI" />
		<add key="dispenserDenominations" value="10000;2000" />
		<!-- VOUCHER -->
		<add key="imgVoucher" value="Images/Others/voucher.png" />
		<!-- API DASHBOARD-->
		<add key="apiBaseAddress" value="https://apidashboardv2.e-city.co/" />
		<add key="apiKeyId" value="1E4F66B8-8602-4F9F-9AAC-F1D329A4AB1D" />
		<!--API ARCHIVOS - Carga masiva de datos-->
		<add key="internalLogin" value="ecity1234.+" />

		<!-- Conexion Datafono -->
		<add key="ConexionDatafono" value="C:\Users\Ana Prieto\Desktop\PROYECTOS 2025\WPFCootreguaV2\WPFCootreguaV2\bin\Debug\ConexionDatafono.exe" />
	
		<!--BULK LOAD ENDPOINTS-->
		
		<!--SIGAM ENDPOINTS-->
				
	     <add key="ConsultReferences" value="Appi/api/Consulta/ConsultarFactura" />
	     <add key="NotifyPay" value="Appi/api/Notificacion/NotificarFactura" />


		<!--LOGIN -->
		<add key="username" value="Pay+ Prueba1" />
		<add key="paypadId" value="13" />
		<add key="pwd" value="gk1AK0jm8t/Rf7PurAyJtIURothKG8ikaxenmSBJYHfn7aOvQroIUn4iAiyNDoOi5TaJjFDQx+gtyArGvXTkRplilB2z3BT83uMXC3T8MMsXnj3/jDHiS0Pk2aCeTeE6eiF2k/eHqsDfq8sQn7cCxpMozREGwz2nWrpFBhU7Dpe4Fht1XTCb7hnGAMmrtIqdDr78MDkkcVYIjfoIOZYw5RqFWohKYdRg7Pq6HYtpWWvKTwOR8O2WCom/lCRX+EwkGC7+sMZqPN/eWEAK59SJOQ9UMpNcWYVztmhMhIEY4YbdqIp1lQ0dufoXF0e4YlE8kNPJ5dSFlEO624M3C3sVdw=="/>
		<!-- ENDPOINTS -->
		

		<add key="Login" value="Auth/LoginPayPad" />
		<add key="Validate" value="api/PayPad/Validate" />
		<add key="Transaction" value="api/Transaction/Paypad" />
		<add key="TransactionDetails" value="api/Transaction/Paypad/Details" />
	</appSettings>
</configuration>